.clock {
  /* width: 95vw; */
  height: 95vh;
  overflow: hidden;
  text-align: center;
}

.clock h1 {
  border: 2px solid #009eff;
  margin: 20vh auto 0px auto;
  border-radius: 15px;
  padding: 10px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: #009eff;
  font-size: 100px;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  h1 {
    background-color: lightblue;
    font-size: 50px;
  }

  .clock h1 {
    margin: 5vh auto 0px auto;
  }
}
